<xf:checkboxrow label="{$option.title}"
				hint="{$hintHtml}"
				explain="{$explainHtml}"
				html="{$listedHtml}"
				>

    <xf:option name="{$inputName}[enable]" value="1" label="" checked="{$option.option_value.enable}">
        <xf:textbox name="{$inputName}[threadAuthor]" value="{$threadAuthor}" ac="single" 
					maxlength="{{ max_length($xf.visitor, 'username') }}"
                    placeholder="{{ phrase('sv_subscriberremoved_thread_author') }}"/>

        <xf:html>{$nodeSelect|raw}</xf:html>
    </xf:option>
</xf:checkboxrow>