<xf:checkboxrow label="{$option.title}"
				hint="{$hintHtml}"
				explain="{$explainHtml}"
				html="{$listedHtml}"
				>

    <xf:option name="{$inputName}[enable]" value="1" label="" checked="{$option.option_value.enable}">

        <xf:textbox name="{$inputName}[starter]" value="{$convStarter}"  ac="single" maxlength="{{ max_length($xf.visitor, 'username') }}"
                    placeholder="{{ phrase('sv_subscriberremoved_conversation_starter') }}"/>

       <xf:textbox name="{$inputName}[recipients]" value="{$recipients}" ac="multiple"
				   placeholder="{{ phrase('sv_subscriberremoved_conversation_recipients') }}"/>
    </xf:option>
</xf:checkboxrow>